* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #364147;
  margin: 0;
}

i {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.cabecera {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  background-image: linear-gradient(to left, #859603, #207e8e 50%, #4579b0, #287d95 0%);
}
.cabecera .cabecera__left {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
.cabecera .cabecera__left .logo {
  margin: 0;
  padding: 0px 10px;
}
.cabecera .cabecera__left .logo__img {
  width: 50%;
}
.cabecera .cabecera__right {
  display: flex;
  align-items: center;
}
.cabecera .cabecera__right .search {
  padding: 0px 10px;
}
.cabecera .cabecera__right .notifications {
  padding: 0px 10px;
}
.cabecera .cabecera__right .profile {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
.cabecera .cabecera__right .profile__img {
  width: 40px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
}
.cabecera .cabecera__right .arrow__icon {
  padding: 5px;
}

.cuerpo__eventos {
  margin-top: 20px;
  padding: 0px 20px;
}

.header-informacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4579b0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 10px 25px;
}
.header-informacion .header-content {
  display: flex;
  align-items: center;
}
.header-informacion .header-content .header-content__tittle {
  margin-left: 15px;
}

/*# sourceMappingURL=estilos.css.map */
