* { box-sizing: border-box; }
body { font-family: 'Open Sans', sans-serif; font-size: 14px;  color: #364147; margin: 0; }
i { color: white; text-decoration: none; font-size: 20px; }
a {text-decoration: none;}
ul {list-style: none;}

.cabecera{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    background-image: linear-gradient(to left, #859603, #207e8e 50%, #4579b0, #287d95 0%);

    .cabecera__left{
        display: flex;
        align-items: center;
        padding: 0px 10px;

        .logo{
            margin: 0;
            padding: 0px 10px;
        }

        .logo__img{
            width: 50%;
        }
    }

    .cabecera__right{
        display: flex;
        align-items: center;

        .search{
            padding: 0px 10px;
        }
    
        .notifications{
            padding: 0px 10px;
        }
    
        .profile{
            margin: 0 auto;
            display: flex;
            align-items: center;
            padding: 0px 10px;
        }
    
        .profile__img{
            width: 40px;
            border-radius: 50%;
            border: 1px solid #FFFFFF;
        }
        
        .arrow__icon{
            padding: 5px;
        }
    }

    
}

.cuerpo__eventos{
    margin-top: 20px;
    padding: 0px 20px;
}

.header-informacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4579b0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px 25px;

    .header-content{
        display: flex;
        align-items: center;

        .header-content__tittle{
            margin-left: 15px;
        }
    }

}







